.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        K 
      %ul.main-header__left-box__member-list
        member : 
        %li.main-header__left-box__member-list__member
          AA
    .main-header__right-box
      .main-header__right-box__edit-btn
        Edit
  .messages
    .messages__message
      .messages__message__upper-info
        .messages__message__upper-info__talker
          aa
        .messages__message__upper-info__date
          2020/02/27(thu)
      .messages__message__text
        頑張りましょう
    .messages__message
      .messages__message__upper-info
        .messages__message__upper-info__talker
          aa
        .messages__message__upper-info__date
          2020/02/28(fri)
      .messages__message__text
        あと少し
  .form
    %form.form__new-message
      .form__new-message__input-box
        %input.form__new-message__input-box__text-box
        %label.form__new-message__input-box__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__new-message__submit{type:'submit',value: 'send'}
        
  
        
          
        

        
        